body {
	background-color: #efefef;
}

.navbar {
	background-color: rgb(255, 255, 255) !important;
	color: rgb(13, 13, 255);
}

a.btn-custom {
	background-color: rgb(255, 196, 0);
	color: white;
	border-radius: 20px;
}
a.btn-custom:hover {
	background-color: rgb(255, 196, 0);
	box-shadow: 0 0 6px rgb(187, 187, 187);
	border-radius: 20px;
	color: white;
}
#form,
#seminar,
#invoice {
	margin-top: 7rem;
}

/* body {
	background: rgb(104, 254, 255);
	background: linear-gradient(
		295deg,
		rgba(104, 254, 255, 1) 0%,
		rgba(255, 0, 237, 1) 100%
	);
	height: 100vh;
} */
