#beranda {
	background-image: url("../image/banner.jpg");
	background-size: cover;
	background-attachment: fixed;
}

nav {
	background-color: midnightblue;
}

footer {
	background-color: midnightblue;
}

.nav-link {
	position: relative;
}

.nav-link::after {
	content: "";
	opacity: 0;
	transition: all 0.2s;
	height: 2px;
	width: 100%;
	background-color: white;
	position: absolute;
	bottom: 0;
	left: 0;
}

.nav-link:hover::after {
	opacity: 1;
}

.btn {
	border: none;
	background: midnightblue;
	padding: 5px 15px;
	transition: 0.2s;
}

.btn:hover {
	transform: scale(1.1);
	cursor: pointer;
	background: midnightblue;
}

.card-header {
	background-color: midnightblue;
}

.card_pendaftaran {
	margin-top: 100px;
}
